---
name: Check updates

on:
  schedule:
    - cron: '0 0 * * 1'
  push:
    branches:
      - 'test/**'

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  check_versions:
    name: Yarn
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Cache node_modules
        id: yarn-cache
        uses: actions/cache@v2.1.3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Print outdated dependencies
        run: yarn outdated || echo ''
      - name: Update versions
        run: yarn upgrade --latest
      - name: Compile
        run: yarn install
      - name: Check local changes
        id: yarn-versions
        run: |
          changed_files=$(git status --porcelain --untracked-files=no | wc -l)
          if [ $changed_files -eq 0 ]; then echo '::set-output name=outdated::false'; else echo '::set-output name=outdated::true'; fi
        shell: bash
      - name: Increase version
        if: ${{ steps.yarn-versions.outputs.outdated }}
        run: yarn version --patch --no-git-tag-version
      - name: Create branch
        uses: peterjgrainger/action-create-branch@v2.0.1
        with:
          branch: bump/${{ github.run_id }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Push changes
        if: ${{ steps.yarn-versions.outputs.outdated }}
        uses: EndBug/add-and-commit@v5.2.0
        with:
          branch: bump/${{ github.run_id }}
          message: 'Bump dependencies'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create PR
        if: ${{ steps.yarn-versions.outputs.outdated }}
        uses: peter-evans/create-pull-request@v3.5.1
        with:
          branch: bump/${{ github.run_id }}
          delete-branch: true
          base: ${{ github.base_ref }}
          title: 'Bump dependencies'
          body: 'Bump dependencies'
          labels: dependencies
          reviewers: fabasoad
