---
name: Functional Tests

on:
  push:
    branches:
      - 'main'
      - 'fix-*'
      - 'feature-*'
      - 'pre-commit-ci-update-config'

jobs:
  run-script:
    name: Run script
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Kitten
        uses: ./
      - name: Run script (Linux, macOS)
        if: ${{ matrix.os != 'windows-latest' }}
        run: kitten ./hello-world.ktn
        shell: bash
      - name: Run script (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: kitten.exe ./hello-world.ktn
        shell: pwsh
